<div class="parent">
  <div class="child">
    <ul>
      <li *ngFor="let task of tasks" (click)="selectedTask = task; showNew = false;">{{ task.task }}</li>
    </ul>

    <button class="Task__btn-create" (click)="showNew = true; selectedTask = null;">+</button>

    <div *ngIf="selectedTask">
      <p>{{ selectedTask.id }}</p>
      <p>{{ selectedTask.task }}</p>
      <span>Update Task: </span><input [(ngModel)]="updateTaskModel" placeholder="{{ selectedTask.task }}" />
      <button (click)="updateTask( selectedTask.id, updateTaskModel )">Update Task</button>
      <button (click)="removeTask( selectedTask.id )">Remove Task</button>
      <button (click)="selectedTask = null">Close</button>
    </div>

    <div *ngIf="showNew">
      <br />
      <span>Task: </span><input [(ngModel)]="newTaskModel" />
      <button (click)="addTask( newTaskModel )">Create</button>
      <button (click)="showNew = false">Cancel</button>
    </div>
  </div>
</div>