.parent {
  width: 100%;
  padding: 10px;
  height: auto;
  min-height: 300px;
  display: flex;
  justify-content: center;
}

.child {
  width: auto;
  min-width: 300px;
}

.child ul {
  margin: 0 0 10px 0;
  padding-left: 15px;
}

.child ul > li {
  margin: 5px;
}