<div class="parent">
  <div class="child">

    <ul *ngIf="!loading.get">
      <li *ngFor="let task of tasks" (click)="selectedTask = task; showNew = false;">{{ task.task }}</li>
    </ul>

    <div *ngIf="loading.get" class="loader__parent">
      <div class="loader"></div>
    </div>

    <button class="Task__btn-create" (click)="showNew = true; selectedTask = null;">+</button>

    <div *ngIf="selectedTask && !loading.update && !loading.remove">
      <p>{{ selectedTask.id }}</p>
      <p>{{ selectedTask.task }}</p>
      <span>Update Task: </span><input [(ngModel)]="updateTaskModel" placeholder="{{ selectedTask.task }}" />
      <button (click)="updateTask( selectedTask.id, updateTaskModel )">Update Task</button>
      <button (click)="removeTask( selectedTask.id )">Remove Task</button>
      <button (click)="selectedTask = null">Close</button>
    </div>

    <div *ngIf="loading.update || loading.remove" class="loader__parent">
      <div class="loader"></div>
    </div>

    <div *ngIf="showNew && !loading.add">
      <br />
      <span>Task: </span><input [(ngModel)]="newTaskModel" />
      <button (click)="addTask( newTaskModel )">Create</button>
      <button (click)="showNew = false">Cancel</button>
    </div>

    <div *ngIf="loading.add" class="loader__parent">
      <div class="loader"></div>
    </div>
  </div>

  <view-2></view-2>
</div>